* {
    font-family: 'Noto Sans', sans-serif;
  }
  .about {
    display: flex;
    justify-content: center;
  }
  .wallstreet-bets {
    width: 100%;
  }
#nav-image {
  width: 80px;
  border-radius: 30px;
  padding-bottom: 20px;
  box-shadow: 0px 10px 10px 2px rgb(255, 0, 0);
}

  .home {
    font-size: 5rem;
    text-align: center;
  }
  .stock {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.612);
    color: white;
    padding: 20px;
  }
  .all-stocks{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: rgb(1, 0, 0);
    padding: 15px;
    font-size: 2em;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }
  table {
    table-layout:fixed;
    border: 3px solid rgb(0, 0, 0);
    border-collapse: collapse;
    text-decoration: none;
    width: 100%;
  }

  #stock-name {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 10px gray;
  }

  .name {
    background-color: rgb(143, 2, 2);
  }
  
  .link {
    color: white;
  }
  
  th, td {
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
  }

  a {
  text-decoration: none;
  color: black;
  }

  a:hover {
  color: rgb(255, 230, 0);
  }

  th {
    background-color: rgba(52, 49, 49, 0.88);
    color: white;
    border: 1px solid white;
  }